
div.clearfix.global-width#footer-inner
  div#trigger-back-to-top
    a(href="#top") Back to top

  :t(render="html")

    <div id="footer-column-1" class="footer-column">
      <h3><a href="http://tidepool.org/contact/">Contact</a></h3>
      <p><a href="mailto:info@tidepool.org">info@tidepool.org</a><br>(650) 353-2352</p>
    </div><!-- /.footer-column-1 -->
    <div id="footer-column-2" class="footer-column">
      <h3><a href="http://tidepool.org/partners/">Partners</a></h3>
      <p><a href="http://tidepool.org/partners/">Who’s helping us.</a></p>
    </div><!-- /.footer-column-2 -->
    <div id="footer-column-3" class="footer-column">
      <h3><a href="http://tidepool.org/faq/">FAQ</a></h3>
      <p><a href="http://tidepool.org/faq/">What do you want to know?</a></p>
    </div><!-- /.footer-column-3 -->
    <div id="footer-column-4" class="footer-column">
      <h3>Follow</h3>
      <div class="menu-footer-social-menu-container"><ul id="menu-footer-social-menu" class="menu"><li id="menu-item-258" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-258"><a href="https://twitter.com/Tidepool_org">Twitter</a></li>
      <li id="menu-item-260" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-260"><a href="https://www.facebook.com/TidepoolOrg">Facebook</a></li>

      </ul>
    </div></div><!-- /.footer-column-4 -->
    <div id="siteinfo">        
      Tidepool is a trademark of Tidepool Project, a California
      non-profit corporation.

    </div><!-- #siteinfo -->
      
  div.footer-column
     p
      a(href=getGithub( )) On github

