div.clearfix.global-width#header-inner
  div#branding
    h1#blog-title
      a(href=site.url, title=site.title) != site.title
  
  div.clearfix#access
    div.skip-link
      a(href="#content") Skip to content
    
    button.trigger-navigation-main Menu

    
